# 2014222 - Semester 2 CA-01 -April 2024

# Create the NBA Excel file to use it as a dataset in the next part of CA1.

# Part 1

# Step 1: API Web Scraping

In [2]:
# Utilise Python programming language in order to comply with the requisites of
# the assessment and perform adequate Machine
# Learning algorithms to discover and deliver insights.

# Import the necessary libraries (Numpy and Pandas) in order to perform data cleansing.
# These are the libraries that are conventionally used as a common practice in order to
# perform mathematical and statistical operations during a data analysis process

import numpy as np
import pandas as pd


# Import requests to apply Data scraping, which is also called "web scraping,"
# basically I am geeting the information from a website
# It's one of the fastest ways to get information from the web

import requests

# I am using this line of code to see all columns in a wide DataFrame

pd.set_option('display.max_columns',None)

# I am using time to measures how long will take to  scraping the data of the NBA seasons
# I will use a for loop

import time


# Import the itertools library is because it simplifies the code by replacing nested loops
# with a single loop that iterates over the Cartesian product,
# making the code easier to read and understand.

from itertools import product

# Offical NBA website with the statistics.

In [2]:
# I am using the official NBA website to pull my data in order to complete this CA1.
# The first step was to find which data in the NBA website I was going to use
# and then I had to inspect elements in the browser (Google Chrome)
# and go to the tab Network to find the right data and the specific location
# within an API endpoint that accepts requests and sends back responses

# Reading and testing the NBA url

nba_api_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=2012-13&SeasonType=Regular%20Season&StatCategory=PTS'

# Using API and json

In [3]:
# Request to scrap date from the NBA url using a json format
# So then I can manipulate to pull into a DataFrame

request = requests.get(url=nba_api_url).json()

In [4]:
# Creating a table list with resutls and headers to user as columns in when creating a DataFrame format

table_headers = request['resultSet']['headers']

In [5]:
# Creating a DataFrame format

pd.DataFrame (request['resultSet']['rowSet'], columns = table_headers)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,1433,0.510,139,334,0.416,679,750,0.905,46,594,640,374,116,105,280,143,2280,2462,1.34,0.41
1,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,1595,0.463,132,407,0.324,525,626,0.839,66,367,433,469,106,25,287,173,2133,1921,1.63,0.37
2,2544,3,LeBron James,1610612748,MIA,76,2877,765,1354,0.565,103,254,0.406,403,535,0.753,97,513,610,551,129,67,226,110,2036,2446,2.44,0.57
3,201935,4,James Harden,1610612745,HOU,78,2985,585,1337,0.438,179,486,0.368,674,792,0.851,62,317,379,455,142,38,295,178,2023,1872,1.54,0.48
4,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,1489,0.449,157,414,0.379,425,512,0.830,134,326,460,171,52,32,175,205,1920,1553,0.98,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,203130,463,Darius Johnson-Odom,1610612747,LAL,4,6,0,4,0.000,0,1,0.000,0,0,0.000,1,3,4,1,0,0,0,0,0,1,0.00,0.00
464,2545,463,Darko Milicic,1610612738,BOS,1,5,0,1,0.000,0,0,0.000,0,0,0.000,0,1,1,0,0,0,2,1,0,-2,0.00,0.00
465,202458,463,Justin Dentmon,1610612742,DAL,2,4,0,2,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,-2,0.00,0.00
466,2679,463,Matt Carroll,1610612766,CHA,1,6,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,1,0,0,0,1,0,1,0.00,0.00
467,200780,463,Solomon Jones,1610612752,NYK,2,26,0,1,0.000,0,0,0.000,0,0,0.000,1,2,3,0,0,1,3,3,0,0,0.00,0.00

In [6]:
# Creating the foundation of DataFrame1
# Creating a new table that has the same number of rows as foundation_dataframe1
# Doing this is going to help me to add consistent information related to resutls and the row set

foundation_dataframe1 = pd.DataFrame (request['resultSet']['rowSet'], columns = table_headers)

In [7]:
# Creating a new table that has the same number of rows as foundation_dataframe1
# Doing this is going to help me to add consistent information related to a specific year and season

# I am using a for loop on the new dataframe with repetitive data,
# making sure it matches the size (in terms of rows) of another dataframe. 

foundation_dataframe2 = pd.DataFrame ({'Year':['2012-13' for each_position_in_the_list in range(len (foundation_dataframe1))],
                                       'Season_type':['Regular%20Season' for each_position_in_the_list in range(len (foundation_dataframe1))]})

In [8]:
# Print table with columns year and season type

foundation_dataframe2

        Year       Season_type
0    2012-13  Regular%20Season
1    2012-13  Regular%20Season
2    2012-13  Regular%20Season
3    2012-13  Regular%20Season
4    2012-13  Regular%20Season
..       ...               ...
463  2012-13  Regular%20Season
464  2012-13  Regular%20Season
465  2012-13  Regular%20Season
466  2012-13  Regular%20Season
467  2012-13  Regular%20Season

[468 rows x 2 columns]

In [9]:
# Creating a new table called foundation_dataframe3.
# Which has all the columns from foundation_dataframe2 (like 'Year' and 'Season_type')
# followed by all the columns from foundation_dataframe1.

# I am using pd.concat() to sticks tables together.
# I wanted to attach them side by side.

foundation_dataframe3 = pd.concat([foundation_dataframe2, foundation_dataframe1], axis = 1)

In [10]:
# Print all the tables with all the columns

foundation_dataframe3

,Year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,2012-13,Regular%20Season,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,1433,0.510,139,334,0.416,679,750,0.905,46,594,640,374,116,105,280,143,2280,2462,1.34,0.41
1,2012-13,Regular%20Season,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,1595,0.463,132,407,0.324,525,626,0.839,66,367,433,469,106,25,287,173,2133,1921,1.63,0.37
2,2012-13,Regular%20Season,2544,3,LeBron James,1610612748,MIA,76,2877,765,1354,0.565,103,254,0.406,403,535,0.753,97,513,610,551,129,67,226,110,2036,2446,2.44,0.57
3,2012-13,Regular%20Season,201935,4,James Harden,1610612745,HOU,78,2985,585,1337,0.438,179,486,0.368,674,792,0.851,62,317,379,455,142,38,295,178,2023,1872,1.54,0.48
4,2012-13,Regular%20Season,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,1489,0.449,157,414,0.379,425,512,0.830,134,326,460,171,52,32,175,205,1920,1553,0.98,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2012-13,Regular%20Season,203130,463,Darius Johnson-Odom,1610612747,LAL,4,6,0,4,0.000,0,1,0.000,0,0,0.000,1,3,4,1,0,0,0,0,0,1,0.00,0.00
464,2012-13,Regular%20Season,2545,463,Darko Milicic,1610612738,BOS,1,5,0,1,0.000,0,0,0.000,0,0,0.000,0,1,1,0,0,0,2,1,0,-2,0.00,0.00
465,2012-13,Regular%20Season,202458,463,Justin Dentmon,1610612742,DAL,2,4,0,2,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,-2,0.00,0.00
466,2012-13,Regular%20Season,2679,463,Matt Carroll,1610612766,CHA,1,6,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,1,0,0,0,1,0,1,0.00,0.00
467,2012-13,Regular%20Season,200780,463,Solomon Jones,1610612752,NYK,2,26,0,1,0.000,0,0,0.000,0,0,0.000,1,2,3,0,0,1,3,3,0,0,0.00,0.00

In [11]:
# To start fresh and avoid any overwriting issues

del foundation_dataframe1, foundation_dataframe2, foundation_dataframe3

In [12]:
# To organise myself better, I will start with a blank DataFrame

dataframe_columns =['Year','Season_type']+ table_headers

In [13]:
# Checking and printing the blank DataFrame columns to see if every column looks like it should be

pd.DataFrame(columns = dataframe_columns)

Empty DataFrame
Columns: [Year, Season_type, PLAYER_ID, RANK, PLAYER, TEAM_ID, TEAM, GP, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS, EFF, AST_TOV, STL_TOV]
Index: []

In [14]:
# When you start scraping on a large scale very quickly
# NBA website can be block the access
# To prevent that I am going to create headers dictionary
# To do this I had to go to in NBA website and inspect elements in the browser (Google Chrome)
# Then go to the tab headers and copy and past the request headers section
# Then we add the comma and '' to let the system know they are strings

headers = {
    'Accept':'*/*',
    'Accept-Encoding': 'gzip, deflate, br, zstd',
    'Accept-Language': 'en-US,en;q=0.9,es;q=0.8',
    'Connection': 'keep-alive',
    'Host': 'stats.nba.com',
    'Origin': 'https://www.nba.com',
    'Referer': 'https://www.nba.com/',
    'Sec-Ch-Ua': ' "Chromium";v="122", "Not(A:Brand";v="24", "Google Chrome";v="122" ',
    'Sec-Ch-Ua-Mobile': '?0',
    'Sec-Ch-Ua-Platform': "macOS",
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-site',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36'
    }

In [15]:
dataframe_columns_short = request['resultSet']['headers']

# Using for loop

In [16]:
# Defining dataframe_columns.

dataframe_columns = ['Year','Season_type'] + dataframe_columns_short

# This will be the foundation of the main DataFrame

main_dataframe = pd.DataFrame(columns = dataframe_columns)

# Lists to iterate through

season_types = ['Regular%20Season', 'Playoffs']

years = ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22']

# Creating the for loop with itertools.product for combinations of years and season_types
# The reason why I am using the itertools lubrary is because it simplifies the code by replacing
# nested loops with a single loop that iterates over the Cartesian product,
# making the code easier to read and understand.

# Also, it makes it easy to add more dimensions.
# For example, if I want to scrape data for more variables (e.g., adding teams to season_types and years),
# I can simply add the new list to the product call without changing the loop structure.

start_loop = time.time()

for y, s in product(years, season_types):
    
    # Defining the NBA url API
    nba_api_url = f'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season={y}&SeasonType={s}&StatCategory=PTS'
    
    # Pulling out the json
    request = requests.get(url=nba_api_url).json()
    
    foundation_dataframe1 = pd.DataFrame(request['resultSet']['rowSet'], columns=dataframe_columns_short)
    
    foundation_dataframe2 = pd.DataFrame({'Year': [y for _ in range(len(foundation_dataframe1))],
                                           'Season_type': [s for _ in range(len(foundation_dataframe1))]})
    
    foundation_dataframe3 = pd.concat([foundation_dataframe2, foundation_dataframe1], axis=1)
    
    main_dataframe = pd.concat([main_dataframe, foundation_dataframe3], axis=0)
    
    print(f'Finished scraping data from the {y} {s}.')
    
    # To prevent the NBA website from blocking access for scraping data, adding a lag time
    # I am adding a lag time with the time package so the NBA website don't think I am a bot
    
    lag = np.random.uniform(low=20, high=40)
    print(f'...waiting {round(lag,1)} seconds...')
    time.sleep(lag)

# Print final message

print(f'Congratulations! Process completed! Total run time: {round(time.time() - start_loop,1)} seconds')

Finished scraping data from the 2012-13 Regular%20Season.
...waiting 28.3 seconds...
Finished scraping data from the 2012-13 Playoffs.
...waiting 33.8 seconds...
Finished scraping data from the 2013-14 Regular%20Season.
...waiting 32.7 seconds...
Finished scraping data from the 2013-14 Playoffs.
...waiting 22.2 seconds...
Finished scraping data from the 2014-15 Regular%20Season.
...waiting 21.9 seconds...
Finished scraping data from the 2014-15 Playoffs.
...waiting 39.7 seconds...
Finished scraping data from the 2015-16 Regular%20Season.
...waiting 34.7 seconds...
Finished scraping data from the 2015-16 Playoffs.
...waiting 29.9 seconds...
Finished scraping data from the 2016-17 Regular%20Season.
...waiting 39.6 seconds...
Finished scraping data from the 2016-17 Playoffs.
...waiting 39.6 seconds...
Finished scraping data from the 2017-18 Regular%20Season.
...waiting 34.5 seconds...
Finished scraping data from the 2017-18 Playoffs.
...waiting 30.7 seconds...
Finished scraping data from the 2018-19 Regular%20Season.
...waiting 33.8 seconds...
Finished scraping data from the 2018-19 Playoffs.
...waiting 23.4 seconds...
Finished scraping data from the 2019-20 Regular%20Season.
...waiting 39.2 seconds...
Finished scraping data from the 2019-20 Playoffs.
...waiting 38.7 seconds...
Finished scraping data from the 2020-21 Regular%20Season.
...waiting 20.8 seconds...
Finished scraping data from the 2020-21 Playoffs.
...waiting 35.7 seconds...
Finished scraping data from the 2021-22 Regular%20Season.
...waiting 25.2 seconds...
Finished scraping data from the 2021-22 Playoffs.
...waiting 34.7 seconds...
Congratulations! Process completed! Total run time: 645.2 seconds

In [17]:
# Print the main DataFrame

main_dataframe

,Year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,2012-13,Regular%20Season,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,1433,0.510,139,334,0.416,679,750,0.905,46,594,640,374,116,105,280,143,2280,2462,1.34,0.41
1,2012-13,Regular%20Season,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,1595,0.463,132,407,0.324,525,626,0.839,66,367,433,469,106,25,287,173,2133,1921,1.63,0.37
2,2012-13,Regular%20Season,2544,3,LeBron James,1610612748,MIA,76,2877,765,1354,0.565,103,254,0.406,403,535,0.753,97,513,610,551,129,67,226,110,2036,2446,2.44,0.57
3,2012-13,Regular%20Season,201935,4,James Harden,1610612745,HOU,78,2985,585,1337,0.438,179,486,0.368,674,792,0.851,62,317,379,455,142,38,295,178,2023,1872,1.54,0.48
4,2012-13,Regular%20Season,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,1489,0.449,157,414,0.379,425,512,0.830,134,326,460,171,52,32,175,205,1920,1553,0.98,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,2021-22,Playoffs,1629006,206,Josh Okogie,1610612750,MIN,1,2,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0,0.00,0.00
213,2021-22,Playoffs,1630556,206,Kessler Edwards,1610612751,BKN,2,7,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,1,1,0,1,3,0,1,1.00,1.00
214,2021-22,Playoffs,1630201,206,Malachi Flynn,1610612761,TOR,6,36,0,7,0.000,0,3,0.000,0,0,0.000,2,1,3,3,1,0,1,6,0,-1,3.00,1.00
215,2021-22,Playoffs,202693,206,Markieff Morris,1610612748,MIA,2,3,0,1,0.000,0,0,0.000,0,0,0.000,0,1,1,0,0,0,1,2,0,-1,0.00,0.00
216,2021-22,Playoffs,200794,206,Paul Millsap,1610612755,PHI,1,6,0,0,0.000,0,0,0.000,0,0,0.000,0,1,1,1,0,0,0,1,0,2,0.00,0.00

In [18]:
# Exporting the DataFrame to a CSV file

main_dataframe.to_csv('NBA Dataset CSV C1.csv', index=False)

print('The CSV file has been created successfully.')

The CSV file has been created successfully.

# will continue in PART 2